# TMDb API Key for fetching posters, backdrops, cast, director, trailers
TMDB_API_KEY=your_tmdb_api_key_here

# Apache Spark Master URL (e.g., local[*] for local mode or spark://spark-master:7077 for cluster)
SPARK_MASTER=local[*]

# Hadoop HDFS NameNode URL (e.g., hdfs://namenode:9000)
HDFS_NAMENODE=hdfs://namenode:9000
HDFS_DATA_PATH=hdfs://namenode:9000/user/rawan/movielens

# Application SQLite Database Location
DATABASE_PATH=data/app_database.db

# ALS Hyperparameters
ALS_MAX_ITER=10
ALS_REG_PARAM=0.1
